/*Fuentes(Tipografía)*/
@font-face {
    font-family: 'CustomFont';
    src: url('../fonts/dk_crayon_crumble/DK\ Crayon\ Crumble.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FontSubtitles';
    src: url('../fonts/sweet_creamy_2/Sweet Creamy.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FontText';
    src: url('../fonts/please_write_me_a_song/Please write me a song.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CustomFont1';
    src: url('../fonts/summer_garden/Summer Garden.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/*Contenido Principal*/
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #46b8a9;
}

.container {
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    padding: 20px;
    width: 100%;
    text-align: center;
    margin: auto;
    word-wrap: break-word;
}

/*Media query*/
@media (min-width: 768px) {
    .container {
        max-width: 60%;
    }
}

/*Imagenes*/
.logo {
    max-height: 150px;
    width: auto;
    margin-bottom: 10px;
    /*border-radius: 50%;*/
}

.mascota {
    max-height: 100px;
    width: auto;
}

@keyframes bounceIn {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
        opacity: 1;
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

.word-wrapper {
    white-space: nowrap;
    display: inline-block;
}

/*TEXTO*/
/*NOMBRE*/

p {
    color: #1e1e1e;
    text-align: center;
}

.title {
    font-family: 'CustomFont1', sans-serif;
    font-size: 1.8em;
    font-weight: bold;
    color: #1e1e1e;
    letter-spacing: 0.1em; 
}

.social-btn span {
    flex: 1;
    text-align: center;
}

.contact-btn span {
    flex: 1;
    text-align: center;
}

.btn-menu span {
    flex: 1;
    text-align: center;
}

/*BOTONES PRINCIPALES*/
.custom-button {
    width: 100%;
    background-color: #94c123;
    color: #fff; 
    margin-bottom: 10px;
    /*font-family: 'FontSubtitles', sans-serif;*/
    border: none;
    font-size: 1.1em;
    font-weight: bold;
}

.custom-button-nosotros {
    width: 100%;
    background: linear-gradient(135deg, #46b8a9, #94c123); /* Degradado del color */
    color: #fff; 
    margin-bottom: 10px;
    /*font-family: 'FontSubtitles', sans-serif;*/
    border: none;
    font-size: 1.1em;
    font-weight: bold;
}

.custom-button-nosotros.active {
    color: #fff; 
}

.custom-button.active {
    color: #fff; 
}

#nosotrosButton {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

#misionButton {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

#visionButton {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

#objetivoButton {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

#socialMediaButton {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

#contactUsButton {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

#directoryHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

#courseButton {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

#donationButton {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

#signalsButton {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

#youtubeButton {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

#eventsButton {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

#productsButton {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

#nosotrosButton i {
    margin: 0 5px;
}
#misionButton i {
    margin: 0 5px;
}
#visionButton i {
    margin: 0 5px;
}
#objetivoButton i {
    margin: 0 5px;
}
#socialMediaButton i {
    margin: 0 5px;
}

#contactUsButton i {
    margin: 0 5px;
}

#directoryHeader i {
    margin: 0 5px;
}

#courseButton i {
    margin: 0 5px;
}

#donationButton i {
    margin: 0 5px;
}

#signalsButton i {
    margin: 0 5px;
}

#youtubeButton i {
    margin: 0 5px;
}

#productsButton i {
    margin: 0 5px;
}

/*CONTENEDOR DE LOS BOTONES* PRINCIPALES*/
.content-container {
    background-color: #94c123;
    padding: 10px;
    margin-top: -20px;
    margin-bottom: 20px;
    border-radius: 5px;
    display: none;
}

.content-container-nosotros {
    background: linear-gradient(135deg, #46b8a9, #94c123); /* Degradado del color */
    padding: 10px;
    margin-top: -12px;
    margin-bottom: 20px;
    display: none;
}

.content-container-white {
    background-color: #ffffff;
    padding: 10px;
    margin-top: -20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

/*Iconos de Redes sociales*/
.social-icons a i, .social-icons a svg {
    margin: 0 10px;
    color: #000 !important; 
    font-size: 24px !important; 
}

/*BOTONES SECUNDARIOS*/
.social-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 1em;
    color: black;
    background-color: #fff;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    width: 75%;
    margin-bottom: 10px;
}

.contact-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #94c123;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    width: 75%;
    margin-bottom: 10px;
}

.btn-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 1em;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    width: 75%;
    margin-bottom: 10px;
}

/****ICONOS****/
.social-btn img {
    margin-right: 12px;
}

.contact-btn img {
    margin-right: 12px;
}

.btn-menu img {
    margin-right: 12px;
}

.social-btn:hover {
    background-color: #46b8a9;
    color: #fff;
}

.contact-btn:hover {
    background-color: #46b8a9;
    color: #fff;
}

.btn-menu:hover {
    background-color: #94c123;
    color: #fff;
}

#add-phone {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

#telephone {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.email-content {
    display: none;
    text-align: center;
    margin-top: 10px;
}

.email-content.show {
    display: block;
}

.show {
    display: block !important;
}

.location-content {
    display: none;
    text-align: center;
    margin-top: 10px;
}

.location-content.show {
    display: block;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr)); 
    padding: 0 20px;
}

.grid-item {
    text-align: center;
    margin: 0 auto;
}

.grid-item img {
    border-radius: 50%;
    width: 100px; 
    height: 100px;
}

.grid-item .circle {
    width: 120px; 
    height: 120px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto; 
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(2, minmax(100px, 1fr)); 
    }
}

.card-header {
    background-color: #46b8a9;
    padding: 10px;
    cursor: pointer;
}

.btn-link{
    color: #fff; 
}
.card-header h5 .btn-link:hover{
    margin: 0;
    color: #fff;
}

.card-body {
    background-color: #46b8a9; 
    color: #000;
    padding: 20px;
}

.card-body .title {
    font-size: 1.5em;
    color: black; 
}

.hidden {
    display: none;
}
.bank-info {
    margin-top: 10px;
}

/* Estilos para los contenedores de donación */
.donation-container {
    display: block;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    justify-content: flex-start;
    flex-direction: column;
    text-align: center; /* Centra el texto dentro del contenedor */
    box-sizing: border-box;
}

/* Estilos para el logo de Mercado Pago */
.MercadoPagoLogo {
    width: 100px;
    height: auto; /* ajusta el tamaño según sea necesario */
    margin-bottom: auto;
}

/* Estilos para el texto y botón de donación */
.donation-container p {
    margin: 0;
    font-size: 18px;
}

.donate-btn {
    margin-left: auto;
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.donate-btn:hover {
    background-color: #0056b3;
}

.more-info {
    display: none;
    margin-top: 10px;
    text-align: left;
}

.more-info-toggle {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

.email-content a {
    color: #fff;
    text-decoration: none;
}
.email-content a:hover {
    color: #fff;
    font-weight: bold;
}

.location-content a {
    color: blue;
    text-decoration: none;
}
.location-content a:hover {
    color: blue;
    font-weight: bold;
}

.cancel-btn {
    background-color: red; /* Color de fondo rojo */
    color: white; /* Color del texto blanco */
    border: none; /* Sin borde */
    padding: 9px 10px; /* Espaciado interno del botón */
    cursor: pointer; /* Cursor de puntero */
    margin-right: 10px;
    font-size: 14px; /* Tamaño de fuente */
    border-radius: 4px; /* Bordes redondeados más pequeños */
    transition: background-color 0.3s; /* Transición suave para el color de fondo */
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
}

.cancel-btn:hover {
background-color: darkred; /* Color de fondo rojo oscuro al pasar el ratón */
}

.hidden {
display: none;
}

.mp-container {
    display: flex;
    align-items: center; /* Alinea verticalmente al centro */
    justify-content: center; /* Centra el contenido horizontalmente */
    margin-top: 10px; /* Espacio entre el botón de cancelar y el contenedor del pago */
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.product-item {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    width: 200px;
    box-sizing: border-box;
    text-align: center;
    background-color: #f9f9f9;
    transition: transform 0.3s ease, background-color 0.3s ease; /* Transición suave para el color de fondo y el escalado */
}
.product-item:hover {
    transform: scale(1.05);
    background-color: rgba(70, 184, 169, 0.7); /* Color #46b8a9 con un poco de transparencia */
}
.product-image {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
}
.product-name {
    font-weight: bold;
    margin-top: 10px;
}
.product-price {
    color: #ff5722;
    margin-top: 5px;
}
.text-container {
    background-color: white;
    padding: 20px;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.product-description {
    font-size: 0.9em;
    margin-top: 5px;
    margin-bottom: 10px;
}
.product-description ul {
    padding-left: 20px;
    margin: 5px 0;
}
.product-description ul li {
    list-style-type: disc;
}
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgba(0,0,0,0.8); 
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-content {
    background: url('../img/Fondo.png') no-repeat center center;
    background-size: cover;
    padding: 20px;
    width: 55%;
    height: 90%;
    overflow-y: auto;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
}

.close {
    color: grey;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}
.circle-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: linear-gradient(135deg, rgba(70, 184, 169, 0.8) 0%, rgba(148, 193, 35, 0.8) 100%); /* Gradient background with transparency */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(70, 184, 169, 0.8), 0 4px 8px rgba(148, 193, 35, 0.8);
}

.circle p {
    margin: 0;
    font-size: 14px;
    color: white;

}

.circle-text {
    font-weight: bold; /* Negrita para el texto de UBICACIÓN y AFORO */
}

.modal-body {
    display: flex;
    flex-direction: column;
   /* gap: 20px; */
   align-items: center;
   justify-content: center;
}

.content-section {
    display: flex;
    align-items: center;
    /*justify-content: space-between;*/
    margin-bottom: 20px;
}

.side-image {
    width: 200px;
    height: auto;
    margin-right: 20px; /* Margen derecho para la primera imagen */
}

.content-section:last-child .side-image {
    margin-left: 20px; /* Margen izquierdo para la segunda imagen */
    margin-right: 0;
}

.text-content {
    flex: 1;
   text-align: left;
}


@media (max-width: 1200px) {
    .modal-content {
        width: 60%;
        height: 40%;
    }
}

@media (max-width: 992px) {
    .modal-content {
        width: 65%;
        height: 50%;
    }
}

@media (max-width: 768px) {
    .modal-content {
        width: 70%;
        height: 50%;
    }
    .circle-container {
        flex-direction: column;
        align-items: center;
    }

    .modal-body {
        flex-direction: column;
    }

    .content-section {
        flex-direction: column;
        align-items: center;
    }

    .content-section img.side-image {
        order: 2;
    }

    .content-section .text-content {
        order: 1;
    }

    .content-section:last-child img.side-image {
        order: 2;
        margin-left: 0;
    }

    .side-image {
        margin-right: 0;
        margin-bottom: 20px;
        width: 90%; /* Adjust width for small screens */
        max-width: 500px;    
    }

    .content-section:last-child .side-image {
        margin-left: 0;
    }
}

@media (max-width: 576px) {
    .modal-content {
        width: 80%;
        height: 60%;
        padding: 10px;
    }
    .side-image{
        width: 200px;
        height: auto;
    }
    .circle{
        width: 150px;
        height: 150px;
    }
}
