/*Fuentes(Tipografía)*/
@font-face {
    font-family: 'CustomFont';
    src: url('../fonts/dk_crayon_crumble/DK\ Crayon\ Crumble.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FontSubtitles';
    src: url('../fonts/sweet_creamy_2/Sweet Creamy.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FontText';
    src: url('../fonts/please_write_me_a_song/Please write me a song.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CustomFont1';
    src: url('../fonts/summer_garden/Summer Garden.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/*Contenido Principal*/
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #46b8a9;
}

.container {
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    padding: 20px;
    width: 100%;
    text-align: center;
    margin: auto;
    word-wrap: break-word;
}

/*Media query*/
@media (min-width: 768px) {
    .container {
        max-width: 60%;
    }
}

/*Imagenes*/
.logo {
    max-height: 150px;
    width: auto;
    margin-bottom: 20px;
    /*border-radius: 50%;*/
}

.mascota {
    max-height: 100px;
    width: auto;
}

@keyframes bounceIn {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
        opacity: 1;
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

.word-wrapper {
    white-space: nowrap;
    display: inline-block;
}

/*TEXTO*/
/*NOMBRE*/
#animatedText {
    font-family: 'CustomFont', sans-serif;
    font-size: 2.5em;
    font-weight: bold;
}

p {
    color: #1e1e1e;
    text-align: center;
}

.title {
    font-family: 'CustomFont1', sans-serif;
    font-size: 2em; 
    font-weight: bold;
    color: #1e1e1e;
    letter-spacing: 0.1em; 
}

.social-btn span {
    flex: 1;
    text-align: center;
}

.btn-menu span {
    flex: 1;
    text-align: center;
}

/*BOTONES PRINCIPALES*/
.custom-button {
    width: 100%;
    background-color: #94c123;
    color: #fff; 
    margin-bottom: 10px;
    /*font-family: 'FontSubtitles', sans-serif;*/
    border: none;
    font-size: 1.1em;
    font-weight: bold;
}

.custom-button-nosotros {
    width: 100%;
    background: linear-gradient(135deg, #46b8a9, #94c123); /* Degradado del color */
    color: #fff; 
    margin-bottom: 10px;
    /*font-family: 'FontSubtitles', sans-serif;*/
    border: none;
    font-size: 1.1em;
    font-weight: bold;
}

.custom-button-nosotros.active {
    color: #fff; 
}

.custom-button.active {
    color: #fff; 
}

#nosotrosButton {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

#misionButton {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

#visionButton {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

#objetivoButton {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

#socialMediaButton {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

#contactUsButton {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

#directoryHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

#courseButton {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

#donationButton {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

#signalsButton {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

#youtubeButton {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

#eventsButton {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

#nosotrosButton i {
    margin: 0 5px;
}
#misionButton i {
    margin: 0 5px;
}
#visionButton i {
    margin: 0 5px;
}
#objetivoButton i {
    margin: 0 5px;
}
#socialMediaButton i {
    margin: 0 5px;
}

#contactUsButton i {
    margin: 0 5px;
}

#directoryHeader i {
    margin: 0 5px;
}

#courseButton i {
    margin: 0 5px;
}

#donationButton i {
    margin: 0 5px;
}

#signalsButton i {
    margin: 0 5px;
}

#youtubeButton i {
    margin: 0 5px;
}

#eventsButton i {
    margin: 0 5px;
}

/*CONTENEDOR DE LOS BOTONES* PRINCIPALES*/
.content-container {
    background-color: #94c123;
    padding: 10px;
    margin-top: -20px;
    margin-bottom: 20px;
    border-radius: 5px;
    display: none;
}

.content-container-nosotros {
    background: linear-gradient(135deg, #46b8a9, #94c123); /* Degradado del color */
    padding: 10px;
    margin-top: -20px;
    margin-bottom: 20px;
    border-radius: 5px;
    display: none;
}

/*Iconos de Redes sociales*/
.social-icons a i, .social-icons a svg {
    margin: 0 10px;
    color: #000 !important; 
    font-size: 24px !important; 
}

/*BOTONES SECUNDARIOS*/
.social-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 1em;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    width: 75%;
    margin-bottom: 10px;
}

.btn-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 1em;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    width: 75%;
    margin-bottom: 10px;
}

/****ICONOS****/
.social-btn img {
    margin-right: 12px;
}

.btn-menu img {
    margin-right: 12px;
}

.social-btn:hover {
    background-color: #46b8a9;
    color: #fff;
}

.btn-menu:hover {
    background-color: #94c123;
    color: #fff;
}

#add-phone {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

#telephone {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.email-content {
    display: none;
    text-align: center;
    margin-top: 10px;
}

.email-content.show {
    display: block;
}

.show {
    display: block !important;
}

.location-content {
    display: none;
    text-align: center;
    margin-top: 10px;
}

.location-content.show {
    display: block;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr)); 
    padding: 0 20px;
}

.grid-item {
    text-align: center;
    margin: 0 auto;
}

.grid-item img {
    border-radius: 50%;
    width: 100px; 
    height: 100px;
}

.grid-item .circle {
    width: 120px; 
    height: 120px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto; 
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(2, minmax(100px, 1fr)); 
    }
}

.card-header {
    background-color: #46b8a9;
    padding: 10px;
    cursor: pointer;
}

.btn-link{
    color: #fff; 
}
.card-header h5 .btn-link:hover{
    margin: 0;
    color: #fff;
}

.card-body {
    background-color: #46b8a9; 
    color: #000;
    padding: 20px;
}

.card-body .title {
    font-size: 1.5em;
    color: black; 
}

.hidden {
    display: none;
}
.bank-info {
    margin-top: 10px;
}
.white-container {
    background-color: white;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilos para los contenedores de donación */
.donation-container {
    display: block;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    justify-content: flex-start;
    flex-direction: column;
    text-align: center; /* Centra el texto dentro del contenedor */
    box-sizing: border-box;
}

/* Estilos para el logo de Mercado Pago */
.MercadoPagoLogo {
    width: 100px;
    height: auto; /* ajusta el tamaño según sea necesario */
    margin-bottom: auto;
}

/* Estilos para el texto y botón de donación */
.donation-container p {
    margin: 0;
    font-size: 18px;
}

.donate-btn {
    margin-left: auto;
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.donate-btn:hover {
    background-color: #0056b3;
}

.more-info {
    display: none;
    margin-top: 10px;
    text-align: left;
}

.more-info-toggle {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

.email-content a {
    color: #fff;
    text-decoration: none;
}
.email-content a:hover {
    color: #fff;
    font-weight: bold;
}

.location-content a {
    color: #fff;
    text-decoration: none;
}
.location-content a:hover {
    color: #fff;
    font-weight: bold;
}

.cancel-btn {
    background-color: red; /* Color de fondo rojo */
    color: white; /* Color del texto blanco */
    border: none; /* Sin borde */
    padding: 9px 10px; /* Espaciado interno del botón */
    cursor: pointer; /* Cursor de puntero */
    margin-right: 10px;
    font-size: 14px; /* Tamaño de fuente */
    border-radius: 4px; /* Bordes redondeados más pequeños */
    transition: background-color 0.3s; /* Transición suave para el color de fondo */
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
}

.cancel-btn:hover {
background-color: darkred; /* Color de fondo rojo oscuro al pasar el ratón */
}

.hidden {
display: none;
}

.mp-container {
    display: flex;
    align-items: center; /* Alinea verticalmente al centro */
    justify-content: center; /* Centra el contenido horizontalmente */
    margin-top: 10px; /* Espacio entre el botón de cancelar y el contenedor del pago */
}